<!DOCTYPE html>
<html lang="id">
{{>head}}
<body>
    {{>header}}
    
    <main class="main-content">
        <h1>{{judul}}</h1>
        <p>Aplikasi ini digunakan untuk mengecek Cuaca!</p>
    </main>
    
    {{>footer}}
</body>
</html>
