<!DOCTYPE html>
<html>
{{>head}}
<body>
    {{>header}}
    
    <main class="main-content">
        <h1>Bantuan Apa yang anda butuhkan?</h1>
        <p>{{teksBantuan}}</p>
    </main>
    
    {{>footer}}
</body>
</html>
